

body {
  font-family: 'Cardo', serif;
  text-align: center;
  margin-top: 30px;
  font-size: 1em;
  background-color: #bfd4eb;
  margin: 0px;
  padding: 0px;
}

.navbar-brand{
  width: 50px;
  height: 50px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 2.5rem;
  padding-left: 0.5rem;
}

.nav-link:hover{
  color: rgb(122, 205, 122);

}

.search{
  width: 100px;
  height: 30px;
  margin-top: 25px;

}

h4 {
  font-weight: normal;
  margin-bottom: 5px;
  padding-top: 10%;
}

h1 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 2em;
}

img {
  border-radius: 150%;
  height: 120px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main * {
  margin-bottom: 12px;
}

input {
  text-align: center;
  font-size: medium;
  outline: none;
  width: 150px;
  border-radius: 8px;
  border: none;
  text-transform: capitalize;
}

/* for styling the autocomplete style */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  
}

button {
  background: #8bc34a;
  color: #fff;
  border: none;
  font-size: 0.8em;
  padding: 5px 15px;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.type{
  color: white;
  font-size: large;
}

button:hover{
  background-color: #51900a;
}

a {
  color: #8bc34a;
}

.open{
  text-decoration: none;
}

.open:hover{
  color:  #51900a; 
}

